.inner {
  display: flex;
  justify-content: flex-start;
}

.content {
  max-width: 760px;
}

.title {
  font-size: 42px;
  font-weight: 500;
}

.description {
  line-height: 1.7;
  color: var(--mantine-color-gray-7);
}

.cta {
  width: fit-content;
}

@media (max-width: 48em) {

  .title {
    font-size: 34px;
  }
}