.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    max-width: 400px;
}

.cta {
    margin-top: auto;
}

.title {
    font-size: 42px;
    font-weight: 500;
}

.grid {
    justify-items: center;
}

@media (max-width: 48em) {

    .title {
        font-size: 34px;
    }
}