.root {
    --hero-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8&auto=format&fit=crop&w=1080&q=80);
    background-color: #11284b;
    background-size: cover;
    background-position: center;
    background-image:
        linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #062343 70%),
        var(--hero-image);
    padding-top: calc(var(--mantine-spacing-xl) * 3);
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
}

.inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mantine-breakpoint-md) {
        flex-direction: column;
    }
}

.image {
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.content {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    margin-right: calc(var(--mantine-spacing-xl) * 3);

    @media (max-width: $mantine-breakpoint-md) {
        margin-right: 0;
    }
}

.title {
    color: var(--mantine-color-white);
    font-weight: 500;
    line-height: 1.05;
    max-width: 500px;
    font-size: 50px;

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
        font-size: 34px;
        line-height: 1.15;
    }
}

.description {
    color: var(--mantine-color-white);
    opacity: 0.75;
    max-width: 500px;

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
    }
}

.control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
    }
}